{% extends 'TechCorpFrontBundle::layout.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1>Hello World !</h1>
            <p>Ceci est la page d'accueil de notre application, que nous allons compléter au fur et à mesure des chapitres du livre.</p>
            <p><a class="btn btn-primary btn-lg" role="button" href="#">En savoir plus</a></p>
        </div>
    </div>
{% endblock content %}


